<ion-header>
  <ion-toolbar>
    <ion-title>
       News Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink='/indianlive' class="card">
    <img src="../../assets/images/news.jpg" height="25%" alt="">
    <ion-card-header>
      <ion-card-title>Indian Live News</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink='/indianlive' expand='block'>
        Get Live News
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink='/indiantech' class="card">
    <img src="../../assets/images/office.jpg" height="25%" alt="">
    <ion-card-header>
      <ion-card-title>Indian Tech News</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/indiantech" expand='block'>
        Get Tech News
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink='/indiansports' class="card">
    <img src="../../assets/images/ball.jpg" height="25%" alt="">
    <ion-card-header>
      <ion-card-title>Indian Sports News</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink='/indiansports' expand='block'>
        Get Sports News
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink='/indianentertain' class="card">
    <img src="../../assets/images/ticket.jpg" height="25%" alt="">
    <ion-card-header>
      <ion-card-title>Indian Entertainment News</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink='/indianentertain' expand='block'>
        Get Entertainment News
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
