
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-spinner {
    display: block;
    margin: auto;
    height: 100%;
}

a{
    text-decoration: none;
    color: #ff5555;
}

.card{
    background-color: #202040;
    color: #ffffff;
}

.card p{
    color : #ffffff;
}

.card ion-card-title{
    color: #ffffff;
}

.card ion-card-subtitle{
    color: #ffffff;
}

ion-button {
    --background: #ff5555;
    --background-activated: #ff4040;
    --color: #ffffff;
}

ion-card-content{
    --background: #6272a4;
    --color: #ffffff;
}

ion-toolbar {
    --background: #282a36;
    --color: #ffffff;
}


ion-tab-bar {
    --background: #282a36;
    --color: #ffffff;
}

ion-tab-button {
    --color: #f8f8f2;
    --color-selected: #ff5555;
    --ripple-color: #ff6464;
}

ion-content {
    --background: #263859;
    --color: #ffffff;
}

ion-spinner {
    --color: #e41749;
}

ion-alert {
    --background: #233142;
}

ion-toast {
    --background: #12cad6;
    --button-color: #272829;
    --color: black;
}

.myitem {
    --background: #282a36;
    --color: #ffffff;
}

.myitem ion-icon{
    padding-left: 10px;
}

.wa {
    color: #50d890;
}

.fb {
    color: #4f98ca;
}

.global {
    color: #d2fafb;
}